body {
	font-family: 'Source Serif Pro', serif;
	background-color: #9F6A71;
}

#container {
	width: 600px;
	margin: 0 auto;
	margin-top: 5em;
	color: #3C2E2E;
	background-color: #EADEDF;
	border-radius: 2em;
}

#content {
	display: flex;
	flex-direction: column;
}

#quote {
	margin: 25px;
	font-size: 2.5em;
	text-align: left;
}

#quote-icon {
	color: #3C2E2E;
}

#author {
	margin: 25px;
	font-size: 1.5em;
	text-align: right;
}

#buttons {
	text-align: right;
	color: #EADEDF;
	background-color: #9F6A71;
}

a:hover {
	color: #3C2E2E;
}

.fa {
	margin: 25px;
	color: #EADEDF;
}
