body {
	font-family: 'Source Serif Pro', serif;
	background-color: #EADEDF;
}

button {
	border: 0;
	background-color: #EADEDF; 
}

button:active,
button:focus {
	outline: none;
}

#container {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 0 auto;
	margin-top: 5em;
	color: #3C2E2E;
	background-color: #EADEDF;
}

#buttons {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 25px;
}

#quote {
	flex-grow: 8;
	width: 100%;
	font-size: 2.5em;
	margin-left: 25px;
}

#author {
	flex-grow: 2;
	margin: 25px;
	font-size: 1.5em;
	align-self: flex-end;
}

a {
	text-decoration: none;
	color: #3C2E2E;
}

#next-quote:hover,
#clipboard:hover {
	color: #9F6A71;
}

#tweet-quote:hover {
	color: #00ADF1;
}

.button {
	margin: 25px;
}
